.logoam {
    width: 60px;
    padding: 15px 0;
}

#header_main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffffaa;
    z-index: 10;
}

#header_nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
}

#header_nav ul li {
    display: inline-block;
    margin: 0 12px;
}

#header_nav ul li:last-child {
    margin-right: 0;
}

#hero {
    position: relative;
}

#hero .bkg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: red;
    z-index: 0;
}

#hero .bkg .bkg_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hero .hero_content {
    position: relative;
    z-index: 1;
}

#col_icon {
    margin-top: 12px;
    margin-bottom: 12px;
}

h1, h2, h3, h4, h5, 
.h1, .h2, .h3, .h4, .h5 {
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
}

.h1_home {
    font-size: 3rem;
}

footer {
    position: relative;
    background: rgb(195,188,224);
    background: radial-gradient(circle, rgba(195,188,224,1) 0%, rgba(255,206,227,1) 100%);
}

footer::before {
    content:"";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../imgs/noise.png');
    background-size: 60px;
    background-repeat: repeat;
    opacity: .4;
}

footer .container {
    position: relative;
    z-index: 1;
}

.logo_footer {
    width: 60px;
}

.footer_icon {
    display: inline-block;
    padding: 0 12px;

}

.footer_icon i {
    font-size: 16px;
    color: #111;

}